#header {   
    height:90px;  
    background:#ddd;
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.12);
}

#main { 
    background: #f9f9f9; 
    height: calc(100% - 90px);
    padding: 60px 0 120px 0;

    @media(max-width:769px){  
        padding:60px 0;
    }
    
    .main__wrap{
        min-height: 80vh;
        position: relative;
        max-width: 1240px;
        margin: 0 auto 0; 

        @media(max-width:769px){            
            min-height: auto;
            padding-bottom: 50px;
        }

    }
}

#footer { 
    background: #d9d9d9;    
}