.quiz__name__list {    
    display: flex;  
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-direction: row; 
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; 

    li {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 20%;
        flex: 1 1 25%;
        max-width: 25%;
        padding: 10px 20px 0 20px;
        margin-bottom: 20px;
        text-align: center;

        @media(max-width:769px){
            -ms-flex: 1 1 50%;
            flex: 1 1 50%;
            max-width: 50%;
            padding: 10px 10px 0 10px;
            margin-bottom: 10px;
        }

        .link {
            display: block;
            position: relative;

            .bg__thmb {
                position: relative;
               /* padding-bottom: 100%;*/
                margin: 0 auto;  
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;  
                height:22vh;
                /*
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat; 
                background-color: #fff;
                */
                img { 
                    left: 0;
                    object-fit: cover;
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                }
            }
            /*
            .bg__thmb.bg__01 {background-image:url("/assets/img/img_quiz01.png"); }
            .bg__thmb.bg__02 {background-image:url("/assets/img/img_quiz02.png"); }
            .bg__thmb.bg__03 {background-image:url("/assets/img/img_quiz03.png"); }
            .bg__thmb.bg__04 {background-image:url("/assets/img/img_quiz04.png"); }
            */
            .title {
                padding: 10px 0 10px 0;
                word-break: keep-all;
                background-color: #29c2ec;
                font-size: 20px;
                color: #fff;
            }
            .process__wrap {    
                padding: 0 0 12px 0;
                background-color: #29c2ec;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;

                .state__bar {
                    margin: 0 9%;
                    height: 24px;
                    position: relative;  

                   .process__bar { 
                        height: 10px;
                        border-radius: 5px;
                        background: #e5e5e5;
                        width: 100%;
                    }
                    

                    .bar__ing {
                        content: '';
                        display: inline-block;
                        height: 10px;
                        border-radius: 5px;
                        background: #2276ce;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 30%;
                        transition: width 1s cubic-bezier(.2, .47, .67, 1);
                    }
                }
                
            }
        }
    }
}