body {
    background-color: var(--white);
    color: var(--black);
}


/*input style*/
.input_txt {
	height: 36px; line-height: 36px; padding:0 5px;
	border:1px solid #ddd;
	background:#fff;
	font-family: 'Noto Sans KR', sans-serif;	
}
.input_txt:hover {outline:1px solid #eee; }
.input_txt:focus { outline:1px solid #000; }/*클릭시 아웃라인변경*/
.disabled { border:1px solid #E0E0E0 !important; background:#F5F5F5 !important; color:#757575 !important;}
.input_txt:focus { border:1px solid #333; background: #fff; }
.input_txt::-webkit-input-placeholder { color: red;}
.input_txt:-moz-placeholder { color: red;}
.input_txt:-ms-input-placeholder {  color: red;}
.input_error { border:1px solid #CA1F3D; }


.w_100 { width:100%}
.padding__inner { padding:0 20px;}


.ctn__w__70 { width:70%; max-width:800px; margin:0 auto; }


.radius5{ border-radius:5px;}

.btn__box {
	margin-top:40px;
	button {
		width:100%;
		padding:20px 0;
		margin:10px 0;
		background: #29c2ec;
		text-align: center;
		color:#fff;font-size:20px
	}	 
}
.btn_fix_bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
	background:#000;
	padding:25px 15px;
	webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transition-timing-function: initial;
    transition-timing-function: initial;

	button {
		display:block;
		width:100%;
		background:#000;
		color:#fff;
		font-size:20px;
	}
}

@media(max-width:769px){
	.ctn__w__70 { 
		width:100%;  
	}
}
